:root {
  /* colors palette */
  --white: #ffffff;
  --black: #080808;
  --red: #ff0000;
  --green: #008000;
  --gray: #808080;
  --light-gray: #d6d6d6;
  --purple: #800080;
  --pink: #ffc0cb;
  --brown: #a52a2a;
  --light-blue: #b4d0e7;
  --blue: #2e2ec1;
  --primary-btn: #52a6e7;
  --pastel-green: #a2d39b;
  --pastel-green-secondary: #c7f6c1;
  --aubergine: #61082b;
  --sky-blue: #0093ce;
  --bright-red: #ff1c1c;
  --darker-red: #c80606;
  --lighter-blue: #288ff6;
  --dark-blue: #1a1a8a;
  --yellow: #e7e737;
}

/* # reset */

/* prettier */
/* .prettierignore {
    svg
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* # general */

svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

/* font */

header,
main,
footer {
  font-family: "DM Serif Display", serif;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.row {
  display: flex;
}

/* ul */

ul {
  list-style-type: none;
}

/* a */

a {
  text-decoration: none;
  color: currentColor;
  display: block;
}

/* buttons */

button {
  font-family: "DM Serif Display", serif;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.btn-blue {
  color: var(--white);
  background-color: var(--primary-btn);
  border: none;
  padding: 10px 20px;
}

.btn-white {
  color: var(--black);
  background-color: var(--white);
  border: 2px solid var(--black);
  padding: 10px 20px;
}

.btn-white-alternative {
  color: var(--black);
  background-color: var(--white);
  border: none;
  padding: 10px 20px;
}

/* width */

.container-fluid {
  width: 100%;
  margin: 0;
}

.big-container {
  width: 1200px;
  margin: 0 auto;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

/* # header */

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* nav bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  background-color: var(--white);
}

nav li {
  display: inline-block;
  padding: 0 15px;
  line-height: 30px;
  white-space: nowrap;
}

nav img {
  height: 1rem;
}

/* # main */

/* jumbotron */

.jumbotron {
  padding-top: 50px;
  background-color: var(--light-blue);
}

.jumbotron h1 {
  font-weight: bold;
  font-size: 4rem;
  padding-bottom: 20px;
}

.jumbotron > .big-container {
  padding-top: 80px;
}

.jumbotron-freetrial {
  display: flex;
}

.jumbotron-freetrial > .col-40 {
  display: flex;
  flex-direction: column;
  gap: 2%;
  justify-content: space-between;
}

.jumbotron-freetrial p,
.btn {
  margin-bottom: 30px;
}

.jumbotron-freetrial i {
  font-size: 3rem;
}

.jumbotron-freetrial img {
  width: 100%;
}

/* business plan */

.business-plan {
  background-color: var(--white);
}

.business-plan-top {
  padding: 80px 0 25px;
}

.business-plan-top > h2 {
  font-size: 3rem;
  padding-bottom: 30px;
}

.business-plan-top > span {
  padding-right: 20px;
}

.business-plan-cards {
  display: flex;
  justify-content: space-between;
  min-height: 950px;
  margin-bottom: 5%;
}

.business-plan-cards > .card {
  width: 30%;
  border: 2px solid var(--light-gray);
  font-size: 0.75rem;
}

.business-plan-cards .card-container {
  padding: 20px 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.business-plan .card-top {
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
  text-align: center;
  border-bottom: 2px solid var(--light-gray);
}

.business-plan .card-top > i {
  padding-right: 5px;
}

.business-plan-cards .title {
  line-height: 30px;
}

.business-plan-cards .title > h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.business-plan-cards .title > p {
  font-weight: bold;
}

.business-plan-cards li {
  margin: 15px 0;
}

.business-plan-cards li > i {
  padding-right: 5px;
}

.business-plan-cards button {
  font-size: 0.75rem;
  width: 100%;
}

.business-plan-cards .card-link {
  color: var(--blue);
  text-decoration: underline;
  display: inline;
}

.business-plan-cards .card-line {
  border-top: 2px solid var(--light-gray);
  width: 20%;
}

.card-list-colored span {
  font-weight: bold;
}

.card-list-colored i {
  color: var(--primary-btn);
  font-size: 1rem;
}

.business-plan-bottom .card {
  border: 2px solid var(--light-gray);
  font-size: 0.75rem;
  min-height: 240px;
}

.business-plan-bottom .card-container {
  padding: 20px 30px;
  height: 100%;
}

.business-plan-bottom .row {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.business-plan-bottom h3 {
  font-size: 2rem;
}

.business-plan-bottom h4 {
  font-size: 1rem;
  padding-bottom: 20px;
}

.business-plan-bottom p {
  width: 70%;
}

/* partner  dropbox */

.partner-dropbox {
  display: flex;
  background-color: var(--white);
  min-height: 520px;
  margin: 150px auto;
}

.partner-dropbox .col-40 {
  padding: 50px;
}

.partner-dropbox .col-40 > h3 {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.partner-dropbox .col-40 > p {
  margin-bottom: 20px;
}

/* dropbox business */

.dropbox-biz {
  background-color: var(--white);
  margin-bottom: 150px;
}

.dropbox-biz h2 {
  font-size: 3rem;
}

.dropbox-biz-top {
  padding-bottom: 30px;
}

.dropbox-biz-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5%;
}

.dropbox-biz-cards > .card {
  width: 30%;
  min-height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px auto;
}

.dropbox-biz-cards .card-img {
  height: 220px;
}

.dropbox-biz-bottom {
  margin-top: 100px;
}

.dropbox-biz-bottom h2 {
  margin: 30px auto;
}

.dropbox-biz-bottom a {
  color: var(--blue);
  text-decoration: underline;
}

/* designit */

.designit {
  max-height: 640px;
  background-color: var(--light-gray);
}

.designit .card-container {
  display: flex;
  flex-wrap: wrap;
}

.designit .card {
  width: 50%;
  padding: 50px;
  color: var(--white);
}

.designit .card-pastel-green {
  background-color: var(--pastel-green);
  border: 15px solid var(--pastel-green-secondary);
}

.designit .card-aubergine {
  background-color: var(--aubergine);
}

.designit .card-sky-blue {
  background-color: var(--sky-blue);
}

.designit .card-bright-red {
  background-color: var(--bright-red);
}

.designit .card-darker-red {
  background-color: var(--darker-red);
}
.designit .card-lighter-blue {
  background-color: var(--lighter-blue);
}
.designit .card-dark-blue {
  background-color: var(--dark-blue);
}
.designit .card-yellow {
  background-color: var(--yellow);
}

.designit .card-container-middle {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 10%;
  height: 100%;
}

.designit .card-container-middle > .card-img {
  width: 50%;
}

.designit .card-line {
  border: 2px solid var(--gray);
  width: 20%;
}

/* free trial section */

.free-trial {
  background-color: var(--light-blue);
}

.free-trial .row {
  align-items: center;
  justify-content: space-between;
  height: 360px;
}

.free-trial h2 {
  font-size: 3rem;
}

.free-trial button {
  width: 100%;
}

/* frequent questions */

.frequent-questions {
  background-color: var(--white);
  margin: 150px auto;
}

/* # footer */

footer {
  background-color: var(--black);
  color: var(--white);
}

.footer-links {
  display: flex;
}

/* # debug */

/* width */

.debug .col-100 {
  width: 100%;
}

.debug .col-80 {
  width: 80%;
}

.col-60 {
  width: 60%;
}

.col-50 {
  width: 50%;
}

.col-40 {
  width: 40%;
}

.col-33 {
  width: calc(100% / 3);
}

.col-30 {
  width: 30%;
}

.debug .col-25 {
  width: 25%;
}

.debug .col-20 {
  width: 20%;
}

/* height */

.debug .smaller {
  height: 80px;
}

.debug .small {
  height: 120px;
}

.debug .tall {
  height: 200px;
}

.debug .taller {
  height: 400px;
}

/* borderd */

.debug .bordered-white {
  border: 2px dashed var(--white);
}
.debug .bordered-black {
  border: 2px dashed var(--black);
}
/* background color */

.debug .bg-white {
  background-color: var(--white);
}

.debug .bg-black {
  background-color: var(--black);
}
.debug .bg-red {
  background-color: var(--red);
}
.debug .bg-green {
  background-color: var(--green);
}
.debug .bg-gray {
  background-color: var(--gray);
}
.debug .bg-purple {
  background-color: var(--purple);
}
.debug .bg-pink {
  background-color: var(--pink);
}
.debug .bg-brown {
  background-color: var(--brown);
}
